

body{
  font-family: Arial Black, serif;
  font-size: small;
  margin: 0px;
  color: #E11E1E;
}

#main-header{
	background: #FF3C3C;
  text-align: center;
	color: white;
  border: 5px solid #32B232;
}

#main-footer{
  font-family: Times New Roman, serif;
  text-align: center;
	background-color: #FF3C3C;
	color: white;
  border: 5px solid #32B232;
}

h1, h2 {
	font-family: Bodoni MT Black, serif;
	text-decoration: underline;
}


a:link {
  text-decoration:  none;
}

a:visited {
  color:            #32B232;
  text-decoration:  none;
}

nav {
   padding: 10px 0px;      
   margin: 10px 10px 0px 10px;
   text-align: center;
   background-color: #FF3C3C;
   text-decoration: underline;
   border: 5px solid #32B232;
}



nav ul {
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px;
}



nav ul li {
  list-style-type: none;
  display: inline;
  padding: 5px 10px;
}

ul li a:hover {
  background-color:  #FF3C3C; 
}

ul li ul lo {
  display: none;
}

ul li:hover ul li {
  display:block;
}

nav li a:link, nav li a:visited {
  border-bottom: none;
  font-weight:   bold; 
  color: white;
}


